[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.26"
optimizer = true
optimizer_runs = 200
via_ir = false
evm_version = "cancun"

[profile.default.fuzz]
runs = 1000
seed = "0x4444"

[profile.ci.fuzz]
runs = 10000

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
